.pending-task{
    display: flex;
}

.content{
    width: 100%;
    text-align: left;
    overflow: auto;
    scrollbar-width: none;
    margin-right: 10px;
}

.completebtn{   
    transition: 1s;
}

.completebtn:hover{
    /* transform:translate(-100px, 100px); */
    /* transform: translate(100px, -100px); */
    /* scale:4; */
    /* rotate: 500deg; */
    transform: rotateY(360deg);
    background-color: red;
}