.list-container{
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    width: 80%;
    height: 50vh;
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
    animation: far 3s linear infinite;
}

.component-displayer{
    display:flex;
    flex-direction: column;
}

@keyframes far {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}